.Player {
    position: relative;
    top: 90vh;
}

.bullet {
    position: absolute;
    border-radius: 50%;
}

.asteroid {
    position: absolute;
}

.tutorial-text {
    position: absolute;
    display:flow-root;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
